/* Common Shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.color-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 15px 30px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    list-style: none;
    margin-right: 50px;

}

a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header {
    background: #FFF8F3;
    background-image: url(../portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-tile {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-content {
    max-width: 585;
}

.banner-para {
    margin: 0px 0px 30px 0px;
}

.profile-pic {
    padding: 0px 85px 0px 0px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about-info {
    text-align: center;
}

/* what I do section style */
.skills {
    display: flex;
    gap: 24px;
    margin-top: 50px;

}

.skills-info {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}